# heart attack project
## im trying it with svm

In [17]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import svm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [7]:
heartData = pd.read_csv('Heart attack.csv')

heartData.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [16]:
heartData.dtypes

(303, 14)

In [39]:
X = np.asanyarray(heartData[["age", "sex", "cp", "trtbps", "chol", "fbs", "restecg", "thalachh", "exng", "oldpeak", "slp", "caa", "thall"]])
X = preprocessing.StandardScaler().fit(X).transform(X)
Y = np.asanyarray(heartData[["output"]])
# heartData["output"].value_counts()

output
1    165
0    138
Name: count, dtype: int64

In [46]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.2, random_state=4)

In [53]:
from sklearn.metrics import f1_score
for k in ['linear', 'poly', 'rbf', 'sigmoid']:
    svmModel = svm.SVC(kernel=k)
    myCModel= svmModel.fit(X_train,y_train)
    yHat = myCModel.predict(X_test)
    score = f1_score(y_test, yHat, average='weighted')
    print(f"For kernel = {k}, F1-score = {score:.4f}")

For kernel = linear, F1-score = 0.9021
For kernel = poly, F1-score = 0.8033
For kernel = rbf, F1-score = 0.8699
For kernel = sigmoid, F1-score = 0.8849

C:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)